@tailwind base;

@layer base {
  :root {
    --color-ring: 274 35% 74%;
    --color-primary: 270 50% 40%;
    --color-primary-foreground: 0 0% 93%;
    --color-secondary: 25 86% 56%;
    --color-secondary-foreground: 0 0% 93%;
    --color-destructive: 7 64% 52%;
    --color-destructive-foreground: 0 0% 93%;
    --color-popover: 0 0% 100%;
    --color-popover-foreground: 274 32% 10%;
  
    --background: 0 0% 100%;
    --foreground: 274 32% 10%;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background: 274 32% 10%;
      --foreground: 0 0% 93%;

      --color-popover: 274 32% 12%;
      --color-popover-foreground: 0 0% 93%;
    }
  }
}

@layer base {
  *, *::before, *::after {    
    @apply box-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply antialiased overscroll-none bg-background text-foreground;
    font-family: var(--barlow), Arial, Helvetica, sans-serif;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply break-words text-balance;
  }
  p {
    @apply leading-normal break-words text-pretty;
  }

  button {
    @apply whitespace-nowrap ring-offset-background rounded-md transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0;
  }

  a {
    @apply whitespace-nowrap ring-offset-background rounded-md transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
  }
}


@tailwind components;
@tailwind utilities;


