@tailwind base;

@layer base {
  *, *::before, *::after {    
    @apply box-border
  }

  body {
    @apply leading-normal antialiased
  }

  h1, h2, h3, h4, h5, h6 {
    @apply break-words text-balance
  }
  p {
    @apply break-words text-pretty
  }
}


@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
